/* GRID STUFF */
.container-31{width:992px;margin:0 auto;}
.container-32{width:1024px;margin:0 auto;}

.start-grid-7,.start-grid-8,.start-grid-15,.start-grid-23{display:inline;float:left;min-height:1px;position:relative;margin:0 8px;}

.start-grid-7{width:192px;}
.start-grid-8{width:224px;}
.start-grid-15{width:458px;}
.start-grid-23{width:736px;}

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-16,.grid-17,.grid-18,.grid-19,.grid-20,.grid-21,.grid-22,.grid-23,.grid-24,.grid-25,.grid-26,.grid-27,.grid-28,.grid-29,.grid-30,.grid-31,.grid-32{display:inline;float:left;min-height:1px;position:relative;margin:0 8px;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.grid-1{width:16px;}
.grid-2{width:48px;}
.grid-3{width:80px;}
.grid-4{width:112px;}
.grid-5{width:144px;}
.grid-6{width:176px;}
.grid-7{width:208px;}
.grid-8{width:240px;}
.grid-9{width:272px;}
.grid-10{width:304px;}
.grid-11{width:336px;}
.grid-12{width:368px;}
.grid-13{width:400px;}
.grid-14{width:432px;}
.grid-15{width:464px;}
.grid-16{width:496px;}
.grid-17{width:528px;}
.grid-18{width:560px;}
.grid-19{width:592px;}
.grid-20{width:624px;}
.grid-21{width:656px;}
.grid-22{width:688px;}
.grid-23{width:720px;}
.grid-24{width:752px;}
.grid-25{width:784px;}
.grid-26{width:816px;}
.grid-27{width:848px;}
.grid-28{width:880px;}
.grid-29{width:912px;}
.grid-30{width:944px;}
.grid-31{width:976px;}
.grid-32{width:992px;}
.grid-33{width:1024px;}
.push-1{left:32px;}
.push-2{left:64px;}
.push-3{left:96px;}
.push-4{left:128px;}
.push-5{left:160px;}
.push-6{left:192px;}
.push-7{left:224px;}
.push-8{left:256px;}
.push-9{left:288px;}
.push-10{left:320px;}
.push-11{left:352px;}
.push-12{left:384px;}
.push-13{left:416px;}
.push-14{left:448px;}
.push-15{left:480px;}
.push-16{left:512px;}
.push-17{left:544px;}
.push-18{left:576px;}
.push-19{left:608px;}
.push-20{left:640px;}
.push-21{left:672px;}
.push-22{left:704px;}
.push-23{left:736px;}
.push-24{left:768px;}
.push-25{left:800px;}
.push-26{left:832px;}
.push-27{left:864px;}
.push-28{left:896px;}
.push-29{left:928px;}
.push-30{left:960px;}
.pull-1{left:-32px;}
.pull-2{left:-64px;}
.pull-3{left:-96px;}
.pull-4{left:-128px;}
.pull-5{left:-160px;}
.pull-6{left:-192px;}
.pull-7{left:-224px;}
.pull-8{left:-256px;}
.pull-9{left:-288px;}
.pull-10{left:-320px;}
.pull-11{left:-352px;}
.pull-12{left:-384px;}
.pull-13{left:-416px;}
.pull-14{left:-448px;}
.pull-15{left:-480px;}
.pull-16{left:-512px;}
.pull-17{left:-544px;}
.pull-18{left:-576px;}
.pull-19{left:-608px;}
.pull-20{left:-640px;}
.pull-21{left:-672px;}
.pull-22{left:-704px;}
.pull-23{left:-736px;}
.pull-24{left:-768px;}
.pull-25{left:-800px;}
.pull-26{left:-832px;}
.pull-27{left:-864px;}
.pull-28{left:-896px;}
.pull-29{left:-928px;}
.pull-30{left:-960px;}
.prefix-1{padding-left:32px;}
.prefix-2{padding-left:64px;}
.prefix-3{padding-left:96px;}
.prefix-4{padding-left:128px;}
.prefix-5{padding-left:160px;}
.prefix-6{padding-left:192px;}
.prefix-7{padding-left:224px;}
.prefix-8{padding-left:256px;}
.prefix-9{padding-left:288px;}
.prefix-10{padding-left:320px;}
.prefix-11{padding-left:352px;}
.prefix-12{padding-left:384px;}
.prefix-13{padding-left:416px;}
.prefix-14{padding-left:448px;}
.prefix-15{padding-left:480px;}
.prefix-16{padding-left:512px;}
.prefix-17{padding-left:544px;}
.prefix-18{padding-left:576px;}
.prefix-19{padding-left:608px;}
.prefix-20{padding-left:640px;}
.prefix-21{padding-left:672px;}
.prefix-22{padding-left:704px;}
.prefix-23{padding-left:736px;}
.prefix-24{padding-left:768px;}
.prefix-25{padding-left:800px;}
.prefix-26{padding-left:832px;}
.prefix-27{padding-left:864px;}
.prefix-28{padding-left:896px;}
.prefix-29{padding-left:928px;}
.prefix-30{padding-left:960px;}
.suffix-1{padding-right:32px;}
.suffix-2{padding-right:64px;}
.suffix-3{padding-right:96px;}
.suffix-4{padding-right:128px;}
.suffix-5{padding-right:160px;}
.suffix-6{padding-right:192px;}
.suffix-7{padding-right:224px;}
.suffix-8{padding-right:256px;}
.suffix-9{padding-right:288px;}
.suffix-10{padding-right:320px;}
.suffix-11{padding-right:352px;}
.suffix-12{padding-right:384px;}
.suffix-13{padding-right:416px;}
.suffix-14{padding-right:448px;}
.suffix-15{padding-right:480px;}
.suffix-16{padding-right:512px;}
.suffix-17{padding-right:544px;}
.suffix-18{padding-right:576px;}
.suffix-19{padding-right:608px;}
.suffix-20{padding-right:640px;}
.suffix-21{padding-right:672px;}
.suffix-22{padding-right:704px;}
.suffix-23{padding-right:736px;}
.suffix-24{padding-right:768px;}
.suffix-25{padding-right:800px;}
.suffix-26{padding-right:832px;}
.suffix-27{padding-right:864px;}
.suffix-28{padding-right:896px;}
.suffix-29{padding-right:928px;}
.suffix-30{padding-right:960px;}

@media all and (max-width: 640px){
  .grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-16,.grid-17,.grid-18,.grid-19,.grid-20,.grid-21,.grid-22,.grid-23,.grid-24,.grid-25,.grid-26,.grid-27,.grid-28,.grid-29,.grid-30,.grid-31,.grid-32{width:100%;display:inline;float:left;min-height:1px;position:relative;margin:0}
  .start-grid-7,.start-grid-8,.start-grid-15,.start-grid-23{display:inline;float:left;min-height:1px;position:relative;margin:0;width:100%}
  .container-31{width:auto;margin:0 auto}
  .container-32{width:auto;margin:0 auto}
  .alpha{margin-left:0}
  .omega{margin-right:0}
}